.create-post-container {
    width: 50%;
    margin: 20px auto; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .create-post-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type='text'],
  textarea {
    width: calc(100% - 22px); 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .file-input {
    display: none;
  }
  
  .choose-file-button {
    padding: 10px 20px;
    background-color: #3498db; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .choose-file-button:hover {
    background-color: #2980b9;
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #218838;
  }
  